DATABASE_URL="postgresql://user:password@localhost:5432/parhioa?schema=public"
PORT=3000
NODE_ENV=development

WORDPRESS_API_URL="https://example.com/wp-json/wp/v2"

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_FOLDER="parhioa"
